html,
body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

.root {
  display: flex;
  min-height: 100vh;
  /* flex-wrap: wrap; */
  flex-direction: row;
}

local-app h2 {
  padding: 10px;
}

local-app,
react-app,
vue-app {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
}
